/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: "Italiana";
    src: url("/fonts/Italiana-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inspiration";
    src: url("/fonts/Inspiration-Regular.ttf") format("truetype");
}


* {
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#all-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#all-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

h2 {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#all-container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

#title-container {
    width: 100%;
    height: 100%;
    background-image: url('/graphics/background-first2.png');
    background-size: cover;
    overflow: hidden;
}

#title-container-elements {
    width: 100%;
    height: 100%;
    position: relative;
}

#title-container-logos {
    width: 100%;
    height: 100%;
    position: relative;
}

#midpoint-logo {
    position: absolute;
    left: 2%;
    top: 3%;
    width: 5%;
    height: auto;
}

#midpoint-logo img {
    width: 100%;
    height: 100%;
}

#logo-and-slogan-container {
    position: absolute;
    width: 50%;
    left: 0%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#promoking-logo {
    width: 70%;
}

#promoking-logo img {
    width: 100%;
    height: 100%;
}

#under-logo-slogan-cointainer {
    text-align: center;
    width: 30%;
    height: auto;
    font-size: 30px;
    color: white;
    font-family: Italiana;
}

#title-container-bottom {
    position: absolute;
    width: 40%;
    top: 80%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#catchy-bottom-sign-cointainer {
    font-size: 40px;
    color: white;
    font-family: Italiana;
}

#bottom-arrows-cointainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bottom-arrows-cointainer span {
    overflow: hidden;
}

.material-symbols-outlined {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

#title-container-bottom:hover .material-symbols-outlined {
    color: rgb(109, 108, 108);
}

#title-container-bottom:hover #catchy-bottom-sign-cointainer {
    color: rgb(109, 108, 108);
}

#baloon-element {
    width: 10vw;
    position: absolute;
    top: 50vh;
    left: 70vw;
}

#baloon-element img {
    width: 100%;
}


#call-container {
    width: 100%;
    height: 30vw;
    background-image: url('/graphics/background-second.png');
    background-size: cover;
}

.inspiration-font-elements {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Inspiration;
    font-size: 3vw;
}

.italiana-font-elements {
    color: white;
    font-family: Italiana;
}


#call-container-elements {
    width: 100%;
    height: 100%;
    text-align: center;
}

#call-text-element {
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}

#call-number-element {
    position: relative;
    top: 35%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}

#call-to-us-slogan {
    font-size: 5vw;
}

#number {
    font-size: 7vw;

}

#offer-container {
    width: 100%;
    height: 150%;

}

hr {
    border-top: 1px solid rgb(255, 255, 255) !important;
    width: 50%;
    height: 10px;
    color: white;
    margin: 0;
    padding: 0;
}


#why-text {
    width: 30%;
    overflow: visible;
}

.offer-images {
    text-align: center;
    width: 60vw;
}

.offer-images img {
    width: 10%;
}

#offer-container-elements {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 30vh);
    justify-items: center;
    overflow: hidden;

}


.offer-container-element {
    width: 100%;
    display: flex;
    background-color: #240E16;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.offer-container-element h2 {
    width: 40vw;
}



#offer-container-element-2 {

    background-color: #18060D;

}


#offer-container-element-4 {

    background-color: #18060D;


}

#dolar-element{
    display: flex;
    justify-content: left;
    padding-left: 12%;
}

#dolar-element img{
    width: 35%;
}

#bear-element{
    display: flex;
    justify-content: left;
    padding-left: 15%;
}

#bear-element img{
    width: 25%;
}

#idea-element{
    display: flex;
    justify-content: right;
    padding-right: 15%;
}

#idea-element img{
    width: 24%;
}

#statue-element{
    display: flex;
    justify-content: right;
    padding-right: 17%;
}

#statue-element img{
    width: 18%;
}


#dolar-element img {
    width: 25%;
}

#bear-element {
    text-align: center;
    align-items: center;
}

#bear-element img {
    width: 15%;
}

#idea-element img {
    width: 15%;
}

#personalization-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/graphics/background-fourth.png');
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;


}

#bear-logo {

    text-align: center;

}

#bear-logo img {
    height: 40vh;

}

tr #bear-container-texts {
    z-index: 1;
}

#bear-container-texts hr {
    margin-top: 5vw;
    width: 40vw;
}

#bear-container-line {
    z-index: 1;
}

#circle {
    position: absolute;
    top: 15%;
    left: 32.5%;
    width: 35%;
    z-index: -1;
}

#circle img {
    width: 100%;
}

#title-container-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

#baloon-container-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title-container-elements {
    text-align: center;
    margin-bottom: 3vh;
}

#title {
    font-size: 3vw;
}

#contact-container {
    width: 100%;
    height: 35vw;
    background-image: url('/graphics/background-fifth.png');
    background-size: cover;
    position: relative;
}

#contact-container-elements {
    width: 100%;
    height: 80%;
    text-align: center;
    overflow: hidden;
}

#contact-text-element-1 {
    position: relative;
    top: 20%;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    overflow: hidden;
}

#contact-text-element-2 {
    position: relative;
    top: 35%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}

#write-to-us-slogan {
    font-size: 7vw;
    transform: rotate(-7deg);

}

#contact-text-element-2 h2 {
    font-size: 2vw;
    padding: 0;
    margin: 0;

}

#or-element {
    width: 100%;
    position: static;
    height: 0%;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;

}

#or-text-element {
    margin-top: 3vh;
    overflow: visible;
    z-index: 2;
}

#slider-container {
    background-color: black;
    height: 60vh;
}

.carousel-item img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}