/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: rgb(255, 255, 255);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: "Italiana";
    src: url("/fonts/Italiana-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inspiration";
    src: url("/fonts/Inspiration-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AmaticSC";
    src: url("/fonts/AmaticSC-Regular.ttf") format("truetype");
}


* {
    overflow-x: hidden;
}



html {
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#all-container::-webkit-scrollbar {
    display: none;

}

/* Hide scrollbar for IE, Edge and Firefox */
#all-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

h2 {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#all-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#title-container {
    width: 100%;
    height: 100vh;
    background-image: url('/graphics/background-first2.png');
    background-size: cover;
    overflow: hidden;
}

#title-container-elements {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#title-container-logos {
    width: 100%;
    height: 100%;
    position: relative;
}

#midpoint-logo {
    position: absolute;
    left: 2%;
    top: 3%;
    width: 5%;
    height: auto;
}

#midpoint-logo img {
    width: 100%;
    height: 100%;
}

#logo-and-slogan-container {
    position: absolute;
    width: 50%;
    left: 0%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#promoking-logo {
    width: 70%;
}

#promoking-logo img {
    width: 100%;
    height: 100%;
}

#under-logo-slogan-cointainer {
    text-align: center;
    width: 30%;
    height: auto;
    font-size: 30px;
    color: white;
    font-family: Italiana;
}

#up {
    text-decoration: none;
    color: white;
}

#under-logo-slogan {
    font-size: 2vw;
}

#title-container-bottom {
    position: absolute;
    width: 40%;
    top: 80%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#catchy-bottom-sign-cointainer {
    color: white;
    font-family: AmaticSC;
}

#catchy-bottom-sign {
    font-size: 1.5vw;
    border-radius: 12vw;
    padding: 2vw;
    background-color: rgba(14, 23, 36, 0.8);
}


#bottom-arrows-cointainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bottom-arrows-cointainer span {
    overflow: hidden;
}

.material-symbols-outlined {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

#title-container-bottom:hover .material-symbols-outlined {
    color: rgb(109, 108, 108);
}

#title-container-bottom:hover #catchy-bottom-sign-cointainer h2 a {
    color: rgb(109, 108, 108);
}

#baloon-element {
    width: 10vw;
    position: absolute;
    top: 50vh;
    left: 70vw;
}

#baloon-element img {
    width: 100%;
}


#call-container {

    width: 100%;
    height: 30vw;
    background-image: url('/graphics/background-second.png');
    background-size: cover;
    overflow: hidden;
}

.inspiration-font-elements {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Inspiration;
    font-size: 3vw;
}

.italiana-font-elements {
    color: white;
    font-family: Italiana;
}

.butler-font-elements {
    color: rgb(255, 255, 255);
    font-family: AmaticSC;
    text-align: center;
    font-size: 2vw;
}


.butler-font-offer-elements {
    color: rgb(255, 255, 255);
    font-family: AmaticSC;
    text-align: center;
    font-size: 2vw;
}

.butler-font-offer-elements-black {
    color: rgb(0, 0, 0);
    font-family: Butler;
    text-align: center;
    font-size: 2vw;
}


#call-container-elements {
    width: 100%;
    height: 100%;
    text-align: center;
}

#call-text-element {
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}

#call-number-element {
    position: relative;
    top: 35%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}

#call-to-us-slogan {
    font-size: 4vw;
}

#number {
    font-size: 5vw;

}

#images-container {
    background-color: white;
}


#offer-container {
    width: 100%;
    height: 149.99%;

}

hr {
    border-top: 1px solid rgb(255, 255, 255) !important;
    width: 50%;
    height: 10px;
    color: white;
    margin: 0;
    padding: 0;
}


#why-text {
    width: 30%;
    overflow: visible;
}

.offer-images {
    text-align: center;
    width: 60vw;
}

.offer-images img {
    width: 10%;

}

.images-images img {
    max-height: 90%;
    max-width: 100%;
    margin-bottom: 30px;


    overflow: hidden;
    background: #ffffff;
    box-shadow: 1px 1px 5px 1px #CCCCCC;


}


.images-images {
    display: flex;
    overflow: hidden;
}

.texts-under-images {
    margin: 3vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.texts-under-images h2 {
    font-size: 3vh;
}

.desc {
    font-size: 2vh;

    overflow: hidden;
    margin-top: 2vh;
    text-align: center;


}

#offer-title {
    font-family: Butler;
    text-align: center;
    font-size: 3vw;
    margin: 5vw;
    width: 100%;
    margin: 20vh;
}

#right-element {
    display: flex;
    justify-content: right;
    width: 40%;

}

#images-container-elements {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 50vh);
    justify-items: center;
    overflow: hidden;

}


.images-container-element {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    overflow: hidden;
}


#offer-container-elements {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 30vh);
    justify-items: center;
    overflow: hidden;

}


.offer-container-element {
    width: 100%;
    display: flex;
    background-color: #240E16;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.offer-container-element h2 {
    width: 40vw;
}

#offer-container-element-0 {
    background-color: #18060D;
}


#offer-container-element-2 {

    background-color: #18060D;

}


#offer-container-element-4 {

    background-color: #18060D;


}

#dolar-element {
    display: flex;
    justify-content: left;
    padding-left: 12%;
}

#dolar-element img {
    width: 35%;
}

#bear-element {
    display: flex;
    justify-content: left;
    padding-left: 15%;
}

#bear-element img {
    width: 25%;
}

#idea-element {
    display: flex;
    justify-content: right;
    padding-right: 15%;
}

#idea-element img {
    width: 30%;
}

#statue-element {
    display: flex;
    justify-content: right;
    padding-right: 17%;
}

#statue-element img {
    width: 18%;
}

#bear-element {
    text-align: center;
    align-items: center;
}

#personalization-container {
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/graphics/background-fourth.png');
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 20%;
    padding-bottom: 20%;


}

#bear-logo {
    text-align: center;
}

#bear-logo img {
    height: 50vh;
}

tr #bear-container-texts {
    z-index: 1;
}

#bear-container-texts hr {
    margin-top: 2vw;
    width: 40vw;
}

#bear-container-line {
    z-index: 1;
}

#circle {
    position: absolute;
    top: 15%;
    left: 32.5%;
    width: 35%;
    z-index: -1;
}

#circle img {
    width: 100%;
}

#title-container-elements {
    display: flex;
    justify-content: center;
    align-items: center;

}

#title-container-elements-personalization {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3vh;
}

#baloon-container-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#title-container-elements {
    text-align: center;
    margin-bottom: 3vh;
}

#title {
    font-size: 3vw;
}


#contact-container {
    width: 100%;
    height: 35vw;
    background-image: url('/graphics/background-fifth.png');
    background-size: cover;
    position: relative;
}

#contact-container-elements {
    width: 100%;
    height: 80%;
    text-align: center;
    overflow: hidden;
}

#contact-text-element-1 {
    position: relative;
    top: 20%;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    overflow: hidden;
}

#contact-text-element-2 {
    position: relative;
    top: 35%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}

#write-to-us-slogan {
    font-size: 7vw;
    transform: rotate(-7deg);

}

#contact-text-element-2 h2 {
    font-size: 2vw;
    padding: 0;
    margin: 0;

}

#or-element {
    width: 100%;
    position: static;
    height: 0%;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;

}

#or-text-element {
    margin-top: 1.5vh;
    overflow: visible;
    z-index: 2;
}

#slider-container {
    background-color: white;
}

#carouselExampleControls {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.slide-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-photo {
    width: 100%;
    height: 99%;
}

#about-container {
    background-color: rgb(255, 255, 255);


}



#about-container-elements {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
    align-items: center;
}

#about-image-element img {


    width: 100vw;
    position: relative;
    overflow: hidden;

    z-index: 0;
}

#about-image-element {
    opacity: 1;
}


#about-text-element {
    overflow: hidden;
    height: 40%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 30%;

    z-index: 100;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 10vh;


}

#about-text {

    overflow: hidden;



}

#about-text-element p {
    color: black;
    font-size: 1.25vw;
    margin-top: 3vh;
}

#about-text-element h2 {
    color: black;
    font-size: 4vw;

}


#map {
    display: flex;
    justify-content: center;
    margin-top: 12vh;
}

#midpoint-logo-footer img {
    width: 10%;

}

#footer-information {
    margin: 2vw;
    position: absolute;
    top: 20%;
    margin-left: 5%;
    margin-top: 7%;
}

#address {
    color: white;

}




.red {
    background-color: red;
}

@media only screen and (max-width: 1500px) {

    #title-container {
        width: 100%;
        height: 100vh;

        background-size: cover;
        overflow: hidden;

    }

    #midpoint-logo {
        position: absolute;
        left: 2%;
        top: 3%;
        width: 15%;
        height: auto;
    }

    #logo-and-slogan-container {
        width: 40%;
        top: 15vh;
        left: 5%;
    }

    #baloon-element {
        display: none;
    }

    #under-logo-slogan {
        font-size: 3vw;

    }

    #under-logo-slogan-cointainer {
        text-align: center;
        width: 80%;
        height: auto;
        font-size: 30px;
        color: white;
        font-family: Italiana;
    }


    #catchy-bottom-sign {
        background-color: rgba(14, 23, 36, 0.8);
        font-size: 2.5vw;
        border-radius: 12vw;

    }

    .material-symbols-outlined {
        background-color: rgb(219, 51, 51, 0.9);
        border-radius: 4vw;
        padding: 1vw;
        margin-top: 1vw;
    }

    #why-text {
        font-size: 4.5vw;
    }

    .inspiration-font-elements {
        font-size: 3.5vw;
    }

    #title {
        font-size: 4vw;
    }

    #bear-logo img {
        width: 20%;
        height: auto;
    }

    #circle {
        position: absolute;
        top: 20%;
        left: 0%;
        width: 100%;
        z-index: -1;
        overflow: hidden;
    }

    #bear-container-text-1 {
        font-size: 4.5vw;
    }

    #bear-container-text-2 {
        font-size: 5vw;
    }

    #personalization-container {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    #text-under-container {
        z-index: -10000;
        text-align: center;
    }

    #title-container-elements-personalization {
        margin-top: 20%;
    }

    #bear-container-texts {
        margin-bottom: 20%;
    }

    #contact-text-element-2 h2 {
        font-size: 3vw;
        padding: 0;
        margin: 0;
    }

    .slide-photo {
        height: 40vw;
        width: 130vw;
        position: relative;
        left: -15%
    }
}

.carousel-control-next {
    background-color: rgb(73, 73, 73);
    width: 5%;
    height: 20%;
    position: absolute;
    top: 40%
}

.carousel-control-prev {
    background-color: rgb(73, 73, 73);
    width: 5%;
    height: 20%;
    position: absolute;
    top: 40%
}

.sr-only {
    color: rgb(0, 0, 0);
}

.desc {
    font-size: 2vh;

    overflow: hidden;
    margin-top: 2vh;
    text-align: center;

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 850px) {

    #title-container {
        width: 100%;
        height: 100vh;

        background-size: cover;
        overflow: hidden;

    }

    #midpoint-logo {
        position: absolute;
        left: 2%;
        top: 3%;
        width: 15%;
        height: auto;
    }

    #logo-and-slogan-container {
        width: 100%;
        top: 15vh;
        left: 0;
    }

    #under-logo-slogan {
        font-size: 3.5vw;

    }

    #under-logo-slogan-cointainer {
        text-align: center;
        width: 50%;
        height: auto;
        font-size: 30px;
        color: white;
        font-family: Italiana;
    }

    #up {
        text-decoration: none;
        color: white;
    }

    #catchy-bottom-sign {
        font-size: 3vw;
    }

    #catchy-bottom-sign {
        background-color: rgba(14, 23, 36, 0.8);
        border-radius: 12vw;
    }

    #offer-container-elements {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 20vh);
        justify-items: center;
        overflow: hidden;

    }

    #offer-container {
        height: 100%;
    }

    .inspiration-font-elements {
        font-size: 4.5vw;
    }

    .offer-container-element h2 {
        width: 70vw;
    }


    #title {
        font-size: 5vw;
    }

    #contact-container {
        height: 50vh;
    }

    #contact-text-element-2 h2 {
        font-size: 2vh;
    }

    #contact-text-element-2 {
        background-color: rgba(255, 255, 255, 0.05);
        position: absolute;
        top: 60%;
        width: 100%;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    #write-to-us-slogan {
        font-size: 9vw;
        transform: rotate(-7deg);
    }

    #bear-logo img {
        max-width: 80vh;
    }


    #bear-element img {
        width: 30%;
    }


    #statue-element img {
        width: 30%;
    }

    #dolar-element img {
        width: 50%;
    }

    #idea-element img {
        width: 40%;
    }

    #call-container {
        height: 40vw;
        overflow: hidden;
        position: relative;
    }

    #call-container-elements {

        height: 130%;
        overflow: hidden;
    }

    #title-container-bottom {
        top: 70vh;
    }




    #personalization-container-elements {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        overflow: hidden;
    }

    #circle {
        position: absolute;
        left: 10%;
        top: 15%;
        width: 80vw;
    }

    #bear-container-texts hr {
        width: 70.5vw;
    }

    #bear-container-text-1 {
        font-size: 7.5vw;
    }

    #bear-container-text-2 {
        font-size: 7.5vw;
    }

    .material-symbols-outlined {

        background-color: rgb(219, 51, 51, 0.9);
        border-radius: 4vw;
        padding: 1.5vw;
    }


    #contact-container {

        background-image: url(/graphics/background-fifth-small.png);

    }

    .slide-photo {
        height: 60vw;
        width: 200vw;
        position: relative;
        left: -50%;
        top: 20%;
    }

    #images-container-element-0 {
        height: 20vh;
    }

    #offer-title {
        font-family: Butler;
        text-align: center;
        font-size: 5vw;
        margin: 5vw;
        width: 100%;
        /* margin: 20vh; */
    }

    #about-text-element p {

        font-size: 3vw;

    }

    #about-text-element h2 {

        font-size: 10vw;
    }

    #about-image-element img {

        display: none;

    }

    #number {
        font-size: 7vw;
    }


    #call-to-us-slogan {
        font-size: 5vw;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #logo-and-slogan-container {
        width: 100%;
        text-align: center;
        align-items: center;
        top: 15vh;
    }

    #midpoint-logo {
        position: absolute;
        left: 2%;
        top: 3%;
        width: 25%;
        height: auto;
    }

    #under-logo-slogan-cointainer {
        text-align: center;
        width: 50%;
        height: auto;
        font-size: 30px;
        color: white;
        font-family: Italiana;
    }

    #under-logo-slogan {
        font-size: 5vw;
    }

    #catchy-bottom-sign {
        font-size: 5vw;
    }

    #title-container-bottom {
        position: absolute;
        width: 100%;
        top: 80%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    #catchy-bottom-sign-cointainer {
        text-align: center;
        width: 70%;
        height: auto;
        font-size: 30px;
        color: white;
        font-family: Italiana;
    }

    #catchy-bottom-sign-cointainer {
        text-align: center;
        width: 50%;
        height: auto;
        font-size: 30px;
        color: white;
        font-family: Italiana;
    }

    #promoking-logo {
        width: 100%;
    }

    #call-container {
        height: 80vw;

    }

    #call-to-us-slogan {
        font-size: 10vw;
    }

    #number {
        font-size: 14vw;
    }

    #offer-container-elements {
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 20%);
    }

    .offer-container-element {
        display: flex;
        flex-flow: column;
    }

    .offer-container-element h2 {
        width: 100%;
        order: 2;
    }

    .offer-images {
        text-align: center;
        width: 100%;
        order: 1;
        overflow: hidden;
    }

    #why-text {
        order: 1;
    }

    .offer-container-element hr {
        order: 2;
    }

    #bear-element {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    #statue-element {
        display: block;
        padding-right: 0;
    }

    #dolar-element {
        display: block;
        padding-left: 0;
    }

    #idea-element {
        display: flex;
        justify-content: center;
        padding-right: 0;
    }


    #bear-element img {
        width: 16%;
    }

    #statue-element img {
        width: 10%;
    }

    #dolar-element img {
        width: 28%;
    }

    #idea-element img {
        width: 17%;
    }

    #offer-container-element-0 {
        align-items: center;
        display: flex;
    }

    #offer-container-element-1 {
        padding-top: 5vw;
    }

    #offer-container-element-2 {
        padding-top: 3vw;
    }

    #offer-container-element-3 {
        padding-top: 3vw;
    }

    #offer-container-element-4 {
        padding-top: 3vw;
    }

    #why-text {
        width: 100%;
        overflow: visible;
    }

    #offer-container-element-0 hr {
        width: 50%;
    }

    #why-text {
        font-size: 10vw;
    }


    .inspiration-font-elements {
        font-size: 6vw;
        margin-bottom: 1vh;
    }

    #title {
        font-size: 9vw;
    }

    #bear-container-texts {
        align-items: center;
        text-align: center;
    }

    #write-to-us-slogan {
        font-size: 12vw;
    }


    #bear-container-text-1 {
        font-size: 9vw;
    }


    #bear-container-text-2 {
        font-size: 10vw;
    }


    #contact-text-element-2 h2 {
        font-size: 5vw;
    }

    #bear-container-texts hr {
        width: 100%;
    }


    #bear-logo img {
        width: 40%;
        height: auto;
    }

    #circle {
        position: absolute;
        top: 30%;
        left: 0%;
        width: 100%;
        z-index: -1;
    }

    #bear-container-text-1 {
        font-size: 6.5vw;
    }

    #bear-container-text-2 {
        font-size: 6vw;
    }

    #personalization-container {
        height: 100vh;
        width: 100vw;

    }

    #bear-container-texts {
        margin-bottom: 20%;
    }

    .images-images {
        height: 30vh;
        overflow: hidden;
        display: flex;
        justify-content: center;

    }


    .images-container-element {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

    #text-without-photo {
        top: 30%;
        width: 60%;
        text-align: center;
        position: absolute;
    }

    #images-container-element-2 {
        display: flex;
    }

    #about-text-element p {

        font-size: 4vw;

    }

    #about-text-element h2 {

        font-size: 15vw;
    }

    #about-image-element img {

        display: none;

    }

    #offer-title {
        justify-content: center;
        font-family: Butler;
        text-align: center;
        font-size: 8vw;
        margin: 10vw;
        display: flex;

        width: 100%;
        /* margin: 20vh; */
    }

    #images-container-element-0 {
        display: flex;
    }



    #images-container-elements {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 60vh);
        justify-items: center;
        overflow: hidden;

    }
}